<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassSchedule">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ClassSchedule"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Widget 1: next/current class only -->
        <receiver
            android:name=".widget.UpcomingWidgetReceiver"
            android:label="Upcoming Class"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/upcoming_widget_info" />
        </receiver>

        <!-- Widget 2: everything scheduled today -->
        <receiver
            android:name=".widget.DailyScheduleWidgetReceiver"
            android:label="Today's Schedule"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_widget_info" />
        </receiver>

        <!-- Widget 3: full weekly routine -->
        <receiver
            android:name=".widget.FullRoutineWidgetReceiver"
            android:label="Weekly Routine"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/full_routine_widget_info" />
        </receiver>

        <!-- Widget 4: current & upcoming class -->
        <receiver
            android:name=".widget.CurrentUpcomingWidgetReceiver"
            android:label="Current &amp; Upcoming"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/current_upcoming_widget_info" />
        </receiver>

    </application>

</manifest>